.background {
background-image: url("../images/backgroundimage.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height:100vh;
}
.car1 {
    position: relative;
}
.car1 img{
position: absolute;
width: 200px;
height: 100px;
top: 420px;
left: 20px;
animation: carf 10s infinite 7s;
}

@keyframes carf { 
from { top: 420px; width: 200px; height: 100px;}
to { top: 300px; left: 500px; width: 80px; height: 40px;}
}

.car2 {
    position: relative;
}
.car2 img{
position: absolute;
width: 200px;
height: 90px;
top: 420px;
left: 320px;
animation: cars 10s infinite 7s;
}

@keyframes cars { 
    from { top: 420px; width: 200px; height: 90px;}
    to { top: 250px; left: 650px; width: 20px; height: 15px;}
    }

.car3 {
    position: relative;
}
.car3 img{
position: absolute;
width: 200px;
height: 110px;
top: 420px;
left: 600px;
animation: cart 12s infinite 7s;
} 

@keyframes cart { 
    from { top: 420px; width: 200px; height: 110px;}
    to { top: 250px; left: 670px; width: 15px; height: 15px;}
    }

.car4 {
    position: relative;
}
.car4 img{
position: absolute;
width: 200px;
height: 110px;
top: 420px;
left: 885px;
animation: carfo 10s infinite 7s;
} 

@keyframes carfo {
    0% { top: 420px;}
    50% { top: 340px; left: 760px; width: 90px; height: 30px; transform: rotate(180deg);}
}

.car5 {
    position: relative;
}
.car5 img{
position: absolute;
width: 200px;
height: 90px;
top: 430px;
left: 1150px;
animation: carfi 8s infinite 7s;
} 

@keyframes carfi { 
    from { top: 430px; width: 200px; height: 90px;}
    to { top: 250px; left: 630px; width: 7px; height: 10px;}
    }

/* left crowd section */
.crowdleft1 {position: relative;}
.crowdleft1 img {position: absolute;
width: 450px;
height: 180px;
top: 230px;
left: 1px;}

.crowdleft2 {
    position: relative;}
.crowdleft2 img {
    position: absolute;
    width: 250px;
    height: 95px;
    top: 240px;
    left: 380px;
}
/* right crowd section */
.crowdright1 {position: relative;}
.crowdright1 img {position: absolute;
width: 450px;
height: 185px;
top: 230px;
right: 1px;
}

.crowdright2 {
    position: relative;
}

.crowdright2 img{
    position: absolute;
    width: 250px;
    height: 95px;
    top: 240px;
    right: 380px;
}

/* start section */

.starts {
    
    position: relative;
}
.starts p{ 
    position: absolute;
    top: 497px;
    left: 127px;
    font-size: 0px;
    color: white;
    font-weight: 900;
animation: s 1s infinite 2s;}

    @keyframes s { 
        from { font-size: 0px; color: white;}
        to { font-size: 130px; color: red;}
        }

.startt {position: relative;}

.startt p{ position: absolute;
    top: 497px;
    left: 400px;
    font-size: 0px;
    color: white;
    font-weight: 900;
    animation: p 1s infinite 3s;}

    @keyframes p { 
        from {font-size: 0px; color: white;}
        to {font-size: 130px; color: red;}
        }

.starta {position: relative;}

.starta p{ position: absolute;
        top: 497px;
        left: 650px;
        font-size: 0px;
        color: white;
        font-weight: 900;
        animation: a 1s infinite 4s;}

        @keyframes a { 
            from {font-size: 0px; color: white;}
            to {font-size: 130px; color: red;}
            }

.startr {position: relative;}

.startr p{ position: absolute;
        top: 497px;
        left: 900px;
        font-size: 0px;
        color: white;
        font-weight: 900;
        animation: r 1s infinite 5s;}

        @keyframes r { 
            from {font-size: 0px; color: white;}
            to {font-size: 130px; color: red;}
            }

.starttt {position: relative;}

.starttt p{ position: absolute;
            top: 497px;
            left: 1180px;
            font-size: 0px;
            color: white;
            font-weight: 900;
            animation: tt 1s infinite 6s;}
        
            @keyframes tt { 
                from {font-size: 0px; color: white;}
                to {font-size: 130px; color: red;}
                }

/* finish section */
.finish {
    position: relative;
}

.finish img{
    position: absolute;
    width: 200px;
    height: 80px;
    top: 240px;
    left: 575px;
    position: fixed;
}

/* winner section */

.winner {
width: 200px;
height: 100px;
position: relative;
}
.winner p {
    position: absolute;
    font-size: 0px;
    font-weight: bold;
    color: red;
    top: 100px;
    left: 600px;
    text-align: center;
    animation: win 1s 5 12s;
}

@keyframes win { 
    from {font-size: 0px; color: red;}
    to {font-size: 30px; color: red;}
    }

.moon {
    position: relative;
    width: 100px;
    height: 100px;
    top:1px;
    left: 800px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 30%, white);
    animation: animate 8s linear infinite 1s;
}

@keyframes animate { 
    0% { transform: rotate(0deg);
    filter: hue-rotate(0deg);}
    100% { transform: rotate(360deg);
        filter: hue-rotate(360deg);}
}
